* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

/* -----HEAD-----*/

.head {
  background: #010101;
  max-width: 1366px;
  height: 77px;
  display: flex;
  justify-content: space-between;
}

.rectangle-8 {
  width: 116px;
  height: 42px;
  margin: 17px 75px 18px;
  background: #6fcf97;
  border-radius: 2px;
}

.info-box {
  display: flex;
  align-items: center;
}

.info-box a {
  color: #ffffff;
  align-items: center;
  margin-left: 62px;
  text-decoration: none;
}

.rectangle-9 {
  width: 160px;
  height: 40px;
  margin: 18px 75px 19px;
  background: #6fcf97;
  border-radius: 5px;
}

/* -----MAIN----- */

.first-section {
  margin: 91px;
  width: 1192px;
  display: flex;
  justify-content: center;
}

.rectangle-1 {
  width: 384px;
  height: 232px;
  background: #010101;
  border-radius: 5px;
  margin-right: 32px;
}

.label1 {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #010101;
  margin: 8px 0;
}

p {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #010101;
}

/*---------------------------*/
.second-section {  
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.rectangle-2 {
  width: 384px;
  height: 463px;
  background: #010101;
  border-radius: 5px;
  margin-right: 32px;
}

.fix {
  width: 384px;
  display: column;
  justify-content: center;
  margin-right: 32px;
}

.middle-three {
  display: flex;
  justify-content: center;
}

.rectangle-3 {
  width: 161px;
  height: 145px;
  background: #010101;
  border-radius: 5px;
  margin-bottom: 14px;
  margin-right: 14px;
}

.co-author {
  display: flex;
  flex-direction: column;
}

.label2 {
  width: 161px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #010101;
  margin-top: 14px;
  margin-bottom: 5px;
}

.co-author span {
  height: 18px;
  width: 174px;
  margin-bottom: 17px;
}

.co-author p {
  height: 37px;
  width: 208px;
}

/*-------------------------------*/
.solo-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solo-second {
  display: flex;
  width: 382px;
  height: 220px;
  margin-bottom: 25px;
}

.rectangle-4 {
  width: 174px;
  height: 219px;
  background: #010101;
  border-radius: 5px;
  margin-right: 16px;
}

.solo {
  display: flex;
  flex-direction: column;
}

.label3 {
  width: 161px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}

.solo span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 17px;
}

.solo p {
  width: 192px;
  height: 37px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

/* -----THIRD-----*/
.third {
  margin: 71px 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.rectangle-6 {
  width: 590px;
  height: 207px;
  background: #010101;
  border-radius: 5px;
  margin-right: 34px;
  box-sizing: border-box;
}

.rectangle-7 {
  width: 590px;
  height: 207px;
  background: #010101;
  border-radius: 5px;
  box-sizing: border-box;
}

/* -----FOOTER----- */

.rectangle-5 {  
  width: 1216px;
  height: 207px;
  background: #010101;
  display: flex;
  border-radius: 5px;
  margin: 0 75px 91px;
  box-sizing: border-box;
}
