* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  background-color: #e5e5e5;
}

/* ---------------------------------*/

header {
  background: #010101;
  width: 1366px;
  height: 77px;
  display: flex;
  justify-content: space-between;
}

.head-first {
  width: 116px;
  height: 42px;
  margin: 17px 75px 18px;
  background: #6fcf97;
  border-radius: 2px;
}

.info-box {
  display: flex;
  align-items: center;
}

.info-box a {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  margin: 29px 30px;
}

.head-last {
  width: 160px;
  height: 40px;
  margin: 18px 75px 19px;
  background: #6fcf97;
  border-radius: 5px;
}

/* ---------------------------------*/
main {
  margin: 91px 75px 0;
}

.first-section {
  display: flex;
  justify-content: space-between;
}

.one {
  width: 384px;
  height: 334px;
}

.rectangle-1 {
  width: 100%;
  height: 232px;
  background: #010101;
  border-radius: 5px;
}

.label1 {
  width: 232px;
  height: 45px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #010101;
}

.paragraph-one {
  width: 382px;
  height: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #010101;
}

.second-section {  
  margin-top: 89px;
  display: flex;
  justify-content: space-between;
}

.rectangle-2 {
  width: 384px;
  height: 463px;
  background: #010101;
  border-radius: 5px;
}

.fix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-three {
  width: 384px;
  height: 145px;
  display: flex;
  justify-content: space-between;
}

.rectangle-3 {
  width: 161px;
  height: 145px;
  background: #010101;
  border-radius: 5px;
  box-sizing: border-box;
}

.co-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.label2 {
  width: 161px;
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  color: #010101;
  margin-bottom: 5px;
}

.co-author span {
  height: 18px;
  width: 174px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 17px;
}

.co-author p {
  height: 37px;
  width: 208px;
  font-weight: 700;
  font-size: 16px;
}

.solo-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solo-second {
  display: flex;
  width: 382px;
  height: 220px;
}

.rectangle-4 {
  width: 174px;
  height: 219px;
  background: #010101;
  border-radius: 5px;
}

.solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.label3 {
  width: 161px;
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}

.solo span {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 17px;
}

.solo p {
  width: 192px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
}

.third {
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rectangle-6 {
  width: 590px;
  height: 207px;
  background: #010101;
  border-radius: 5px;
}

/* ---------------------------------*/
footer {
  margin: 71px 73px 91px 77px;
  display: flex;
  justify-content: center;
}
.rectangle-5 {  
  width: 1216px;
  height: 207px;
  background: #010101;
  border-radius: 5px;
}
